# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/db/local_supabase.db
backend/data/
backend/local_qdrant/


# Node / Next.js
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env*

# IDEs & System
.vscode/
.DS_Store
Thumbs.db
